* {
	box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  padding: 30px;
  font-size: 50px;
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  align-items: center;
	flex-wrap: wrap;
	padding: 10px 20px;
  margin-top: auto;
  flex-direction: row;
}

footer .left {
  font-size: 13px;
	justify-content: flex-start;
}

footer .right {
	justify-content: flex-end;
}

footer a {
  font-size: 13px;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(70, 70, 70);
}

.openBtn {
	display: flex;
  align-self: flex-end;
}

.openButton {
  width: 50px;
  height: 50px;
  background-color: rgb(66,133,244);
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 50px;
  position: fixed;
  align-self: flex-end;
  background-color: blue;
}

.openButton:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.newBookPopup {
	position: relative;
	text-align: center;
	width: 100%;
}

.formPopup {
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}
.formContainer {
	max-width: 250px;
	padding: 20px;
	background-color: #fff;
}

.bookInput {
  margin-top: 10px;
  margin-bottom: 10px;

}

.bookContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  flex-basis: 22%;
  max-width: 700px;
  min-width: 400px; 
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
}

.bookTitle {
  padding: 2px;
  font-size: 25px;
}

.bookAuthor {
  margin-top: auto;
  padding: 2px;
}

.bookPages {
  padding: 2px;
}

.bookRead {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.readSwitch {
  background-color: grey;
  width: 50px;
  height: 26px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: auto;
}

.readSwitch-active {
  background-color: blue;
  width: 50px;
  height: 26px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.readStatus {
  display: none;
}

.slider {
  height: 1.15em;
  width: 1.15em;
  background-color: white;
  border-radius: 12px;
  margin: 4px;
}

.readStatus:checked + .readSwitch {
  background-color: green;
}

.readStatus:checked + .readSwitch > .slider {
  align-self: flex-end;
}